{% extends "../base.html %}
{% block title %}Task List{% endblock title %}
{% block extrahead %}
<style>
table {
  margin-top: 8px;
}
</style>
{% endblock %}

{% block content %}
    {% if task_detail %}
    <h1>{{ task.task }}</h1>
    <!--{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}-->
        <ul style="list-style:none;">
            <li><p>{{ task.task }}</p></li>
            <li><p>{{ task.cre_date }}</p></li>
            <li><p>{{ task.deadline }}</p></li>
            <li><p>{{ task.priority }}</p></li>
        </ul>
    {% else %}
        <p>No tasks are available.</p>
    {% endif %}
{% endblock content %}
