{% extends "../base.html %}
{% block title %}Task List{% endblock title %}
{% block extrahead %}
<style>
table {
  margin-top: 8px;
}
</style>
{% endblock %}

{% block content %}
<h1>Todo List</h1>
<form action="" method="post">
    <input type="text" size="30" maxlength="50" name="addTask" placeholder="タスクを追加">
    <button type="submit" name="action" value="add">追加</button>
    {% csrf_token %}
    {% if task_list %}
        <dl style="list-style:none;">
        {% for row in task_list %}
            <dt><a href="detail.hmtl"><input type="checkbox" name="check" value="{{ row.id }}">  {{ row.task }}</a></dt>
            <dd>{{ row.deadline }}</dd>
            <dd>Priority: {{ row.priority }}</dd>
        {% endfor %}
        </dl>
    {% else %}
        <p>No tasks are available.</p>
    {% endif %}
    <button type="submit" name="action" value="delete">削除</button>
</form>
{% endblock content %}
